main {
	margin: auto;
	max-width: 640px;
	padding: 30px 20px 0 20px;
}

#hex {
	stroke-width: 1px;
	stroke: #282828;
}

.dark-mode #hex {
	stroke: #fff;
}

.pic-container {
	margin: auto;
}

.hexagon-pic {
	display: inline-block;
	margin: auto;
	overflow: hidden;
	width: 240px;
	height: 240px;
	margin: 0 10px 10px 0;
}

.about-text {
	text-align: justify;
}

.about-text p {
	margin-bottom: 15px;
}

.about-text a,
.about-text a:hover,
.about-text a:active,
.about-text a:visited {
	border:none;
    outline:none;
    text-decoration:none;
    color:inherit;
}

.footer {
	text-align: left;
	font-size: 8pt;
	padding: 0 0 6px 6px;

}