.main {
	max-width: 600px;
	margin: auto;
	padding: 30px;
}

.email-form {
	text-align: left;
	padding: 25px;
	border: 1px solid #a0a0a0;
	border-radius: 5px;
	max-width: 100%;
}

.form-body {
    display:block;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    margin-bottom: 5px;
}


.email-input {
    display: block;
    width: 100%;
    font-size: 12pt;
    border: 1px solid #282828;
    outline: none;
    border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.dark-mode .email-input {
    border: 1px solid #fff;
}

textarea.email-input {
    height: auto;
	margin-bottom: 20px;
}

.email-label {
    display: inline-block;
	font-size: 14pt;
}

.email-button {
    display: block;
	width: 100%;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 14pt;
    line-height: 1.5;
    border-radius: 5px;
	background-color: #282828;
    border-color: #282828;
}

.dark-mode .email-button {
    color: #282828;
    background-color: #fff;
    border-color: #fff;
}

.email-button:hover {
    color: #fff;
    background-color: #a0a0a0;
    border-color: #a0a0a0;
}

.dark-mode .email-button:hover {
    color: #282828;
    background-color: #a0a0a0;
    border-color: #a0a0a0;
}

.email-button:focus {
    color: #fff;
    background-color: #282828;
    border-color: #282828;
}

.dark-mode .email-button:focus {
    color: #282828;
    background-color: #fff;
    border-color: #fff;
}